@charset "utf-8";
@import url(common.css);

/* 以下にCSSを記述する↓↓↓↓ */
body {
  font-family: "Yusei Magic", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: auto;
  font-size: 20px;
}


.main {
  max-width: 1440px;
  height: auto;
}

/* ファーストビュー */
.header {
  width: 100%;
  position: relative;
  z-index: 10;

}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 48px;
  background-color: #A03333;
}

.img1 img {
  height: 60px;
  display: block;
}

.drawer_hidden {
  display: none;
}

.nav {
  position: fixed;
  top: 16px;
  right: 24px;
  z-index: 300;
}

.drawer_open {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #229660;
  border: #fff solid 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 2px 2px 4px #4b4b4b;
  position: relative;
  z-index: 301;
  top: -10px;

}

.drawer_open span,
.drawer_open span::before,
.drawer_open span::after {
  content: '';
  display: block;
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  transition: 0.5s;
}

.drawer_open span::before {
  bottom: 8px;
}

.drawer_open span::after {
  top: 8px;
}

#drawer_input:checked~.drawer_open span {
  background: rgba(255, 255, 255, 0);
}

#drawer_input:checked~.drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked~.drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}

.drawer_overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 50;
  display: none;
}

#drawer_input:checked~.drawer_overlay {
  display: block;
}

.nav_content {
  position: fixed;
  top: 0;
  left: 100%;
  width: 50%;
  height: 100%;
  background-color: rgba(160, 51, 51, 0.85);
  transition: 0.5s;
  z-index: 100;
  padding-top: 120px;

}

#drawer_input:checked~.nav_content {
  left: 50%;
}

.nav_list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}


.nav_item {
  margin-bottom: 32px;
}

.nav_item a {
  display: block;
  width: 500px;
  margin-left: 30px;
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.nav_item a:hover {
  background-color: #229660;
}


.fv {
  display: grid;
  position: relative;

}

.fv_img {
  width: 100%;
  height: auto;
  grid-area: 1 / 1;
  position: relative;
  z-index: 1;
}

.ravel {
  position: absolute;
  width: 20%;
  top: 90px;
  left: 20px;
  z-index: 3;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.35));
}

.fv_text {
  grid-area: 1 / 1;
  text-align: center;
  position: relative;
  z-index: 2;
}

h1 {
  font-size: 64px;
  color: #fff;
  text-shadow:
    2.5px 0 0 #1F4C37,
    -2.5px 0 0 #1F4C37,
    0 2.5px 0 #1F4C37,
    0 -2.5px 0 #1F4C37;

  margin-top: 0;
}

.day {
  font-size: 48px;
  color: #C81919;
  font-weight: 700;
  text-shadow:
    2.5px 0 0 #fff,
    -2.5px 0 0 #fff,
    0 2.5px 0 #fff,
    0 -2.5px 0 #fff;
  margin-top: 35vw;
}

.botan {
  display: inline-block;
}

.botan {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 88px;
  margin-top: 32px;
  background-color: #229660;
  font-size: 40px;
  color: #fff;
  text-decoration: none;
  border-radius: 160px;
  border: 6px solid #fff;
  box-shadow: 2px 2px 4px #4b4b4b;
  transition: 0.2s;
  position: relative;
  z-index: 400;
  cursor: pointer;
}

.botan:hover {
  background-color: #fff;
  color: #229660;
  transform: scale(1.1);
}

/* ふわもこフレンズとは？ */
#intro {
  color: #8A0303;
  padding-top: 100px;
  padding-bottom: 58px;

}

h2 {
  font-size: 36px;
  padding-bottom: 64px;
}

#intro p {
  font-size: 24px;
}



.intro_img {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;

}

.rabitt,
.cat {
  border-radius: 180px;
}

.cat {
  padding-left: 41px;
}

.point {
  padding-bottom: 10px;
  padding-bottom: 30px;
}


/* 全体 */
h3 {
  font-size: 44px;
  padding-top: 100px;
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 12px;
}

h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: url(../images/Group\ 1.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 30% auto;
}


.botan2 {
  display: inline-block;
  margin: 0 auto;
  padding: 8px 40px;
  background-color: #fff;
  border-radius: 160px;
  font-size: 36px;
  color: #229660;
  border: 6px solid #229660;
  box-shadow: 2px 2px 4px #4b4b4b;
  transition-duration: .1s;
  cursor: pointer;
}

.botan2:hover {
  background-color: #229660;
  color: #fff;
  transform: scale(1.1);
}



/* 商品のこだわり */
#feat {
  background-color: #A03333;
  height: 1899px;
  color: #fff;
}

.point {
  font-size: 36px;
  padding-top: 110px;

}

.point_text {
  width: 488px;
}

.point_main {
  height: 409px;
  display: flex;
  flex-wrap: wrap;
  gap: 0 40px;
  max-width: 1040px;
  margin: 0 auto;

}

.cross,
.magnet,
.bottle {
  border-radius: 70px;
}

.point1 {
  padding-bottom: 150px;
}

.res_br {
  display: none;
}

/* 商品ラインナップ */

#lineup {}

#lineup h3 {
  color: #8A0303;

}

#lineup ul {
  display: flex;
  justify-content: center;
  color: #8A0303;
  padding-bottom: 108px;
}


.botan3 {
  display: inline-block;
  margin: 0 auto;
  padding: 8px 40px;
  background-color: #fff;
  border-radius: 160px;
  font-size: 24px;
  color: #229660;
  border: 6px solid #229660;
  padding-top: 7px;
  box-shadow: 2px 2px 4px #4b4b4b;
  transition-duration: .1s;
  cursor: pointer;

}

.botan3:hover {
  background-color: #229660;
  color: #fff;
  transform: scale(1.1);
}

.nui {
  font-size: 28px;
  padding-bottom: 10px;
}

#lineup img:hover {
  filter: opacity(.6);
}

.price {
  font-size: 34px;
  padding-bottom: 20px;
}

/* セット購入 */
#set {
  height: 2225px;

  background-color: #A03333;
  color: #fff;
}

.set_img {
  border-radius: 90px;
  border: 10px solid #fff;
}

.text {
  font-size: 40px;
  padding-top: 40px;
  padding-bottom: 168px;
}

.text1 {
  font-size: 40px;
  padding-bottom: 18px;

}


.text2 {
  font-size: 24px;
}

.set_text {
  padding-top: 130px;
  padding-left: 20px;
  padding-bottom: 220px;
}

.postcard {
  display: flex;
  justify-content: center;
  padding-bottom: 88px;
}

/* ラッピング */
#wrapping {
  padding-bottom: 120px;
}

.wrapping_title {
  font-size: 40px;
  color: #8A0303;
  padding-top: 120px;
  padding-bottom: 120px;
}

span {
  font-size: 48px;
  color: #E81F1F;
}

.wrapping_text {
  font-size: 32px;
  color: #8A0303;
  padding-top: 90px;
  padding-bottom: 90px;

}

.wrapping_img {
  border-radius: 90px;
}




/* よくある質問 */
#qa {
  height: 878px;
  background-color: #A03333;
  color: #fff;
  /* text-align: center; */
}

#qa h3 {
  padding-top: 100px;
  padding-bottom: 10px;
}

#qa ol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#qa li {
  font-size: 32px;
  padding-bottom: 60px;
  width: 1040px;
  text-align: left;
  position: relative;

}



/* お問い合わせ */
#contact {
  height: auto;
  padding-bottom: 70px;
  color: #8A0303;
}

#contact h3 {
  padding-top: 60px;
}

#contact p {
  font-size: 28px;
}

#contact img {
  padding-bottom: 10px;
}

/* フッター */
footer {
  height: 90px;
  background-color: #A03333;
}

footer p {
  padding: auto;
  font-size: 20px;
}


/* アニメーション */
h1,
.day {
  animation: zoomIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#intro,
.point_text,
.ul_lineup,
.div_set,
.postcard,
#wrapping,
#qa {
  opacity: 0;
  transform: translateY(40px);

}

#intro.is-animated,
.ul_lineup.is-animated,
.div_set.is-animated,
.postcard.is-animated,
#wrapping.is-animated,
#qa.is-animated {
  animation: fadeup 1s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

.point_text {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s cubic-bezier(0.33, 1, 0.68, 1);
}

.point_text.is-animated {
  opacity: 1;
  transform: translateY(0);
}

/* cartのcss */
#cart_main{color: #8A0303;}

.cart_top {
  height: 70px;
  padding: 0 48px;
  background-color: #A03333;
  display: flex;
  justify-content: space-between;
}

.cart_logo {
  height: 60px;
  display: block;
}

.cart_img {
  height: 70px;

}

.cart_nui img {
  width: 300px;
  height: 400px;
  object-fit: contain;
}

.product {
  max-width: 400px;
}

.buttons{padding: 20px 0;}

.buttons button {
  margin: 4px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #229660;
  border-radius: 160px;
  font-size: 16px;
  color: #fff;
  border: 3px solid #fff;
  padding-top: 7px;
  box-shadow: 2px 2px 4px #4b4b4b;
  transition-duration: .1s;
  cursor: pointer;
  
}
.buttons button:hover{background-color: #fff;
  color: #229660;
  transform: scale(1.1);}

.cart_botan{display: inline-block;
  margin: 0 auto;
  padding: 8px 40px;
  background-color: #fff;
  border-radius: 160px;
  font-size: 24px;
  color: #229660;
  border: 6px solid #229660;
  padding-top: 7px;
  box-shadow: 2px 2px 4px #4b4b4b;
  transition-duration: .1s;
  cursor: pointer;}

  .cart_botan:hover{  background-color: #229660;
  color: #fff;
  transform: scale(1.1);}

  .return{padding: 30px 0;
  }

  #title{padding: 10px 0;}

  #price{padding-bottom: 20px;}

@keyframes fadeup {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@media screen and (max-width: 393px) {

  body {
    font-size: 16px;
  }

  html,
  body {
    overflow-x: hidden;
  }

  .main {
    max-width: 100%;
    padding: 0 16px;
  }

  #intro {
    padding-top: 64px;
  }

  .header_inner {
    height: 20px;
    padding: 0 16px;
  }

  .img1 {
    max-width: 20px;
    height: auto;
  }


  .img1 img {
    height: 10px;
  }

  .nav {
    top: 10px;
    right: 12px;
  }

  .nav_list {
    text-align: center;
    padding-left: 5px;
  }

  .nav_item a {
    width: 155px;
    margin-left: 15px;
    padding: 1px 0;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }


  .drawer_open {
    width: 48px;
    height: 48px;
    border: 3px solid #fff;
  }

  .drawer_open span,
  .drawer_open span::before,
  .drawer_open span::after {
    width: 22px;
    height: 3px;
  }

  .nav_content {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    left: 0;
    transform: translateX(100%);

  }

  #drawer_input:checked~.nav_content {
    transform: translateX(0);
  }

  .nav_item a {
    font-size: 13px;
  }

  .fv {
    height: 519px;
    overflow: hidden;
    display: block;

  }

  .fv_img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  .ravel {
    max-width: 88px;
    height: auto;
    padding-top: 21px;
    width: 160px;
    top: 5px;
    left: 10px;
  }

  .fv_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .fv_text h1 {
    order: 2;
  }

  .fv_text .day {
    order: 1
  }

  .fv_text .botan {
    order: 3;
  }

  h1 {
    padding-top: 350px;
    font-size: 20px;
    text-shadow:
      1px 0 0 #1F4C37,
      -1px 0 0 #1F4C37,
      0 1px 0 #1F4C37,
      0 -1px 0 #1F4C37;

  }

  .day {
    margin: 0;
    padding-left: 50px;
    font-size: 24px;
    text-shadow:
      1px 0 0 #fff,
      -1px 0 0 #fff,
      0 1px 0 #fff,
      0 -1px 0 #fff;
  }

  .botan {
    width: 177px;
    height: 42px;
    font-size: 20px;
    border: 4px solid #fff;
    margin: 0 auto;
  }

  .botan2 {
    padding: 10px 30px;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 0;
    border: 4px solid #229660;


  }



  h3 {
    font-size: 32px;
    padding-top: 30px;
    margin-bottom: 40px;
  }

  h3::after {
    height: 200px;
    background-size: 65% auto;
    background-position: center bottom;
  }

  h2 {
    padding-top: 64px;
    font-size: 24px;
    padding-bottom: 30px;
  }

  #intro p {
    width: 250px;
    font-size: 16px;
    padding: 0 16px;
    margin: 0 auto;
  }

  .intro_img {
    width: 216px;
    height: auto;
    margin: 0 auto;
    flex-direction: column;
    gap: 24px;
  }

  .cat {
    padding-left: 0;

  }

  #feat {
    height: auto;
    padding-bottom: 80px;
  }

  .point {
    font-size: 24px;
    padding-top: 60px;
  }

  .point1 {
    padding-bottom: 10px;
  }


  .point_main {
    font-size: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    margin-bottom: 120px;


  }

  .res_br {
    display: inline;
  }

  .point_main .point_text {
    order: 2;
  }

  .point_text {
    font-size: 18px;
    padding: 0 16px;
  }

  .point_main img {
    width: 240px;
    margin: 0 auto;
    order: 1;
  }

  #lineup ul {
    flex-direction: column;
    gap: 40px;
  }

  .nui {
    font-size: 20px;
  }

  .price {
    font-size: 24px;
  }

  #set {
    height: auto;
    padding-bottom: 100px;
  }

  .set_text {
    padding: 40px 16px;

  }

  .div_set img {
    max-width: 350px;
    border: #fff 3px solid;
  }

  .postcard {
    margin-top: 0;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .postcard img {
    max-width: 284px;
    height: auto;
  }

  #wrapping {
    padding-bottom: 60px;
  }

  .wrapping_title {
    font-size: 36px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .wrapping_title span {
    font-size: 36px;
  }

  .wrapping_img {
    max-width: 338px;
    border-radius: 60px;
  }

  .wrapping_text {
    font-size: 24px;
    padding-top: 56px;
    padding-bottom: 56px;
  }



  .text1 {
    font-size: 32px;
  }

  .text {
    font-size: 32px;
    padding-bottom: 88px;
  }

  .text2 {
    font-size: 18px;

  }


  #qa {
    height: auto;
    padding-bottom: 80px;
  }

  #qa h3 {
    padding-top: 30px;
  }

  #qa li {
    width: 100%;
    font-size: 18px;
    padding: 0 16px 40px;
  }

  #contact h3 {
    padding-top: 30px;
    margin-bottom: 20px;

  }

  #contact img {
    max-width: 302px;
  }

  #contact p {
    font-size: 16px;
  }

  footer {
    height: auto;
    padding: 16px 0;
  }

  footer p {
    font-size: 12px;
  }

  .buttons button{width:30%;}
  
}







